* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: aliceblue;
  text-align: center;
  margin: 100px auto;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 100px auto;
  background-color: white;
  box-shadow: 10px 10px rgb(0, 170, 255, 0.034);
}

.cell {
  border: 1px solid whitesmoke;
}
